n8n-flow.json
{
  "name": "scrape cinema movies in Bari - airing.mathya.it (github)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        -96
      ],
      "id": "896fe092-07a8-4b94-9d32-5b75bb66e4ef",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get the items from the previous node\nconst items = $input.all();\nconst result =[];\n\nfor (const item of items) {\n  // Usually, the HTTP Request node outputs string data into \"item.json.data\"\n  // Adjust this property if your HTML is stored under a different key.\n  const html = item.json.data || item.json; \n  \n  if (typeof html !== 'string') {\n    continue;\n  }\n\n  // The HTML uses '<div id=\"divTrailer_X\"' as a container for each movie section.\n  // We split the HTML string by this to process one movie at a time.\n  const blocks = html.split('<div id=\"divTrailer_').slice(1);\n\n  // Helper function to strip HTML tags and normalize extra spaces\n  const stripTags = (str) => {\n      return str.replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim();\n  };\n\n  for (const block of blocks) {\n    // 1. Extract Title and URL\n    const titleMatch = block.match(/<div class=\"schedine-titolo\">[\\s\\S]*?<a href=\"([^\"]+)\"[^>]*>([^<]+)<\\/a>/);\n    if (!titleMatch) continue; // Skip if no title is found in this block\n\n    const url = titleMatch[1].trim();\n    const title = titleMatch[2].trim();\n\n    // 2. Extract Details (Description, Genre, Country, Year, Duration)\n    const detailsMatch = block.match(/<div class=\"mm-line-height-130 schedine-lancio\">([\\s\\S]*?)<\\/div>/);\n    let details = \"\";\n    if (detailsMatch) {\n        details = stripTags(detailsMatch[1]);\n    }\n\n    // 3. Extract Director(s)\n    const directorMatch = block.match(/Un film di\\s+([\\s\\S]*?)\\./);\n    let director = \"\";\n    if (directorMatch) {\n        director = stripTags(directorMatch[1]);\n    }\n\n    // 4. Extract Cast\n    const castMatch = block.match(/<span>Con\\s+([\\s\\S]*?)<\\/span>/);\n    let cast = \"\";\n    if (castMatch) {\n        cast = stripTags(castMatch[1]);\n    }\n\n    // 5. Extract Cinemas and Showtimes\n    // The class 'mm-light-grey' wraps the block detailing the cinema and showtimes\n    const cinemaBlocks = block.split('class=\"mm-light-grey\"').slice(1);\n    const cinemas =[];\n\n    for (const cBlock of cinemaBlocks) {\n        // Find cinema name\n        const cinemaNameMatch = cBlock.match(/<div style=\"padding-top:3px; float:left; font-weight:600;\">([^<]+)<\\/div>/);\n        let cinemaName = cinemaNameMatch ? cinemaNameMatch[1].trim() : \"Sconosciuto\";\n        \n        // Clean up the word \"CINEMA \" from the beginning of the name if it exists\n        cinemaName = cinemaName.replace(/^CINEMA\\s+/i, '');\n\n        // Find all showtimes for this specific cinema\n        const timeRegex = /<span class=\"mm-medium mm-weight-700\">([^<]+)<\\/span>/g;\n        const times =[];\n        let tMatch;\n        \n        while ((tMatch = timeRegex.exec(cBlock)) !== null) {\n            times.push(tMatch[1].trim());\n        }\n\n        // Only add if we found a valid name or times\n        if (cinemaName !== \"Sconosciuto\" || times.length > 0) {\n            cinemas.push({\n                name: cinemaName,\n                times: times\n            });\n        }\n    }\n\n    // Prepare the final item to return to n8n\n    result.push({\n        json: {\n            title: title,\n            cast: cast,\n            details: details,\n            cinemas: cinemas\n        }\n    });\n  }\n}\n\n// Return the extracted items so subsequent nodes can process them one by one\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -176
      ],
      "id": "ef84a3a4-f398-484f-854b-1555b69b841c",
      "name": "Clean Json"
    },
    {
      "parameters": {
        "jsCode": "// 1. Inserisci qui la tua API Key di TMDB\nconst TMDB_API_KEY = 'YOUR_API_KEY';\n\n// 2. n8n prende tutti i dati in ingresso tramite $input.all()\nconst items = $input.all();\n\n// 3. Iteriamo su tutti i film in arrivo\nfor (const item of items) {\n  // I dati veri e propri in n8n risiedono sempre dentro la proprietà \"json\"\n  const movie = item.json;\n  const title = movie.title;\n  \n  // Estraiamo l'anno dalla descrizione (es. 2026) per usarlo come eventuale fallback\n  const yearMatch = movie.details ? movie.details.match(/\\b(19|20)\\d{2}\\b/) : null;\n  const year = yearMatch ? yearMatch[0] : '';\n\n  try {\n    // --- PRIMO TENTATIVO: SOLO TITOLO ---\n    let searchUrl = `https://api.themoviedb.org/3/search/movie?api_key=${TMDB_API_KEY}&query=${encodeURIComponent(title)}&language=it-IT`;\n    \n    let searchResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: searchUrl,\n      json: true \n    });\n\n    // --- SECONDO TENTATIVO: TITOLO + ANNO ---\n    // Se la prima ricerca non ha prodotto risultati e abbiamo estratto l'anno, riproviamo\n    if ((!searchResponse.results || searchResponse.results.length === 0) && year) {\n      let searchUrlWithYear = `${searchUrl}&primary_release_year=${year}`;\n      searchResponse = await this.helpers.httpRequest({\n        method: 'GET',\n        url: searchUrlWithYear,\n        json: true \n      });\n    }\n\n    // 5. Se ci sono risultati, arricchiamo il JSON originale\n    if (searchResponse.results && searchResponse.results.length > 0) {\n      const tmdbMatch = searchResponse.results[0];\n      const tmdbId = tmdbMatch.id;\n      \n      // Salviamo le info base prese dalla ricerca\n      movie.tmdb_id = tmdbId;\n      movie.tmdb_title = tmdbMatch.title;\n      movie.original_title = tmdbMatch.original_title;\n      movie.overview = tmdbMatch.overview;\n      movie.release_date = tmdbMatch.release_date;\n      movie.vote_average = tmdbMatch.vote_average;\n      movie.poster_url = tmdbMatch.poster_path ? `https://image.tmdb.org/t/p/w500${tmdbMatch.poster_path}` : null;\n\n      // --- RECUPERO DETTAGLI ESTESI (GENERI + REGISTA) ---\n      try {\n        // Usiamo append_to_response=credits per prendere sia i dettagli (generi) sia la crew in una sola chiamata\n        const detailsUrl = `https://api.themoviedb.org/3/movie/${tmdbId}?api_key=${TMDB_API_KEY}&append_to_response=credits&language=it-IT`;\n        \n        const detailsResponse = await this.helpers.httpRequest({\n          method: 'GET',\n          url: detailsUrl,\n          json: true\n        });\n\n        // 1. Recuperiamo i GENERI\n        if (detailsResponse.genres && detailsResponse.genres.length > 0) {\n           movie.genres = detailsResponse.genres.map(g => g.name).join(', ');\n        } else {\n           movie.genres = null;\n        }\n\n        // 2. Recuperiamo il REGISTA\n        if (detailsResponse.credits && detailsResponse.credits.crew) {\n            const directors = detailsResponse.credits.crew.filter(person => person.job === 'Director');\n            movie.director = directors.length > 0 ? directors.map(d => d.name).join(', ') : null;\n        } else {\n            movie.director = null;\n        }\n        \n      } catch (detailsError) {\n        // Se fallisce il recupero dettagli, impostiamo null ma teniamo i dati base\n        movie.genres = null;\n        movie.director = null;\n        movie.details_error = detailsError.message;\n      }\n      // --- FINE SEZIONE DETTAGLI ---\n\n    } else {\n      // Se non trova niente né col primo né col secondo tentativo\n      movie.tmdb_id = null;\n      movie.director = null;\n      movie.genres = null;\n    }\n  } catch (error) {\n    // Gestione errori globale\n    movie.tmdb_id = null;\n    movie.director = null;\n    movie.genres = null;\n    movie.error = error.message;\n  }\n}\n\n// 6. Restituisce gli elementi arricchiti al nodo successivo\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -80
      ],
      "id": "3421910c-0ad7-4ccf-87d3-f2cbd023f040",
      "name": "Enrich with TMDB"
    },
    {
      "parameters": {
        "jsCode": "// Funzione ultra-compatta: \\s+ elimina in un colpo solo \\n, \\r, \\t e spazi multipli.\n// Il controllo 'typeof' evita crash se il campo è undefined o null.\nconst cleanText = (text) => \n  typeof text === 'string' ? text.replace(/\\s+/g, ' ').trim() : \"N/A\";\n\n// Creiamo l'array mappando direttamente gli input di n8n\nconst moviesForLLM = $input.all().map(item => {\n  const m = item.json;\n  \n  return {\n    t: m.title,                               // t = title\n    d: cleanText(m.director),                 // d = director (NUOVO)\n    g: cleanText(m.genres),                   // g = genres (NUOVO)\n    c: cleanText(m.cast),                     // c = cast\n    p: cleanText(m.overview || m.details),    // p = plot (trama)\n    r: m.vote_average || \"N/A\"                // r = rating (voto)\n  };\n});\n\n// Generiamo il JSON minimizzato pronto per l'LLM\nreturn[{\n  json: {\n    llm_payload: JSON.stringify(moviesForLLM),\n    total_movies: moviesForLLM.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -80
      ],
      "id": "f613ab85-5974-4051-8279-5624f4fa4076",
      "name": "Minimize JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a sophisticated film curator with high-brow, cinephile taste.\n\nAnalyze the provided list of movies (where 't' is Title, 'c' is Cast, 'p' is Plot, 'r' is Rating).\n\nSelect ONLY the movies that fit these criteria:\n1. **CULT & CLASSICS:** Re-releases of cinema history classics or not (Priority) (Even italian re-releases).\n2. **A24 / ELEVATED GENRE:** Psychological thrillers, surrealism, arthouse (e.g., Lanthimos, Eggers).\n3. **EVENT MOVIES:** Major cinematic events with high critical acclaim (e.g., Nolan, Villeneuve).\n4. **ITALIAN CINEMA:** REJECT standard comedies. ACCEPT only major auteurs (Sorrentino, Garrone, Rohrwacher).\n5. **REJECT:** Commercial horror, generic comedies, blockbusters without artistic merit, too political movies.\n6. PRESTIGE ANIMATION: Major animation releases with high artistic value or critical acclaim (e.g., Pixar originals, Studio Ghibli) and important theatrical re-releases of Japanese animation classics. REJECT purely commercial children's cartoons.\n\n**INPUT DATA:**\n{{ $json.llm_payload }}\n\n**INSTRUCTIONS:**\n- Populate the output list \"recommendations\".\n- For each selected movie, provide:\n  - \"title\": The EXACT title string from input 't' (do not translate or fix typos).\n  - \"ai_reason\": A short, punchy explanation of why this fits the cinephile criteria (e.g., \"It's a classic re-release\", \"A24 horror style\", \"Winner of Palme d'Or\").\n- Order movies by most important productions.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -80
      ],
      "id": "13d90c64-d650-4f7e-ba1f-a3afc4b0126a",
      "name": "AI Filtering for Suggestions",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"recommendations\": [\n    {\n      \"title\": \"CIME TEMPESTOSE\",\n      \"ai_reason\": \"A bold, auteur-driven adaptation of a literary classic, fitting the 'Event Movie' criteria perfectly.\"\n    },\n    {\n      \"title\": \"THE LIGHTHOUSE\",\n      \"ai_reason\": \"An A24 psychological horror masterpiece by Robert Eggers. Atmospheric and elevated genre.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        144
      ],
      "id": "a4714781-77ae-49f9-ae69-10097c67b8a9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        144
      ],
      "id": "96d3e153-79f0-488e-b43c-334ff6ea91db",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.recommendations",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        -80
      ],
      "id": "82e01fd6-40c9-4ae4-b288-c22f6e968f1e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        160
      ],
      "id": "8e13697b-8e19-4750-a8c8-84cde38246b2",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "=Programmazione Film del {{ $now.format('dd/MM') }} - {{ $('Merge').all()[0].json.title }}, {{ $('Merge').all()[1].json.title }}, {{ $('Merge').all()[2].json.title }}",
        "message": "={{ $json.finalHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        -32
      ],
      "id": "0da4e46d-58d8-497d-87cf-623f9b09cf22",
      "name": "Send a message",
      "webhookId": "c9ea28d1-b2a6-480f-a4f9-addf547bcbc8",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.mymovies.it/cinema//bari/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        -176
      ],
      "id": "ca68042f-cde5-4603-95b3-9f2937ead8c3",
      "name": "HTTP Request to TMDB - Bari"
    },
    {
      "parameters": {
        "url": "https://www.mymovies.it/cinema/bari/casamassima/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        0
      ],
      "id": "e0bcdf22-1d18-40a0-803d-1af842ef4e33",
      "name": "HTTP Request to TMDB - Casamassima"
    },
    {
      "parameters": {
        "jsCode": "// Get the items from the previous node\nconst items = $input.all();\nconst result =[];\n\nfor (const item of items) {\n  // Usually, the HTTP Request node outputs string data into \"item.json.data\"\n  // Adjust this property if your HTML is stored under a different key.\n  const html = item.json.data || item.json; \n  \n  if (typeof html !== 'string') {\n    continue;\n  }\n\n  // The HTML uses '<div id=\"divTrailer_X\"' as a container for each movie section.\n  // We split the HTML string by this to process one movie at a time.\n  const blocks = html.split('<div id=\"divTrailer_').slice(1);\n\n  // Helper function to strip HTML tags and normalize extra spaces\n  const stripTags = (str) => {\n      return str.replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim();\n  };\n\n  for (const block of blocks) {\n    // 1. Extract Title and URL\n    const titleMatch = block.match(/<div class=\"schedine-titolo\">[\\s\\S]*?<a href=\"([^\"]+)\"[^>]*>([^<]+)<\\/a>/);\n    if (!titleMatch) continue; // Skip if no title is found in this block\n\n    const url = titleMatch[1].trim();\n    const title = titleMatch[2].trim();\n\n    // 2. Extract Details (Description, Genre, Country, Year, Duration)\n    const detailsMatch = block.match(/<div class=\"mm-line-height-130 schedine-lancio\">([\\s\\S]*?)<\\/div>/);\n    let details = \"\";\n    if (detailsMatch) {\n        details = stripTags(detailsMatch[1]);\n    }\n\n    // 3. Extract Director(s)\n    const directorMatch = block.match(/Un film di\\s+([\\s\\S]*?)\\./);\n    let director = \"\";\n    if (directorMatch) {\n        director = stripTags(directorMatch[1]);\n    }\n\n    // 4. Extract Cast\n    const castMatch = block.match(/<span>Con\\s+([\\s\\S]*?)<\\/span>/);\n    let cast = \"\";\n    if (castMatch) {\n        cast = stripTags(castMatch[1]);\n    }\n\n    // 5. Extract Cinemas and Showtimes\n    // The class 'mm-light-grey' wraps the block detailing the cinema and showtimes\n    const cinemaBlocks = block.split('class=\"mm-light-grey\"').slice(1);\n    const cinemas =[];\n\n    for (const cBlock of cinemaBlocks) {\n        // Find cinema name\n        const cinemaNameMatch = cBlock.match(/<div style=\"padding-top:3px; float:left; font-weight:600;\">([^<]+)<\\/div>/);\n        let cinemaName = cinemaNameMatch ? cinemaNameMatch[1].trim() : \"Sconosciuto\";\n        \n        // Clean up the word \"CINEMA \" from the beginning of the name if it exists\n        cinemaName = cinemaName.replace(/^CINEMA\\s+/i, '');\n\n        // Find all showtimes for this specific cinema\n        const timeRegex = /<span class=\"mm-medium mm-weight-700\">([^<]+)<\\/span>/g;\n        const times =[];\n        let tMatch;\n        \n        while ((tMatch = timeRegex.exec(cBlock)) !== null) {\n            times.push(tMatch[1].trim());\n        }\n\n        // Only add if we found a valid name or times\n        if (cinemaName !== \"Sconosciuto\" || times.length > 0) {\n            cinemas.push({\n                name: cinemaName,\n                times: times\n            });\n        }\n    }\n\n    // Prepare the final item to return to n8n\n    result.push({\n        json: {\n            title: title,\n            cast: cast,\n            details: details,\n            cinemas: cinemas\n        }\n    });\n  }\n}\n\n// Return the extracted items so subsequent nodes can process them one by one\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        0
      ],
      "id": "d9965896-169c-404d-aa18-15842141550c",
      "name": "Clean Json1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "title",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        -80
      ],
      "id": "a5f4f6eb-2c1e-44d4-a8b0-ec5d9d8f5fd8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Ottieni la data di oggi\nconst today = new Date().toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Intestazione principale\nlet discordMessage = `# 🎬 PROGRAMMAZIONE BARI | ${today}\\n\\n`;\n\nconst items = $input.all();\n\nitems.forEach((item) => {\n    const movie = item.json;\n    \n    // 1. Titolo\n    const displayTitle = movie.original_title ? movie.original_title : (movie.title || \"Titolo Sconosciuto\");\n    \n    // 1b. Genere: spazio + parentesi (testo normale)\n    const genreSuffix = movie.genres ? ` (${movie.genres})` : \"\";\n\n    // 2. Regista e Cast\n    const director = movie.director || \"\";\n    \n    let shortCast = \"\";\n    if (movie.cast) {\n        const castArray = Array.isArray(movie.cast) ? movie.cast : movie.cast.split(',');\n        shortCast = castArray.map(c => c.trim()).slice(0, 3).join(', ');\n    }\n\n    // Costruisce la riga credits aggiungendo '*' all'inizio e alla fine per il CORSIVO\n    let creditsLine = \"\";\n    let content = \"\";\n    \n    if (director && shortCast) {\n        content = `${director} ~ ${shortCast}`;\n    } else if (director) {\n        content = `${director}`;\n    } else if (shortCast) {\n        content = `${shortCast}`;\n    }\n\n    // Se c'è contenuto, aggiunge l'icona, va a capo e applica il corsivo (*)\n    if (content) {\n        creditsLine = `\\n*🎭 ${content}*`;\n    }\n\n    // 3. Cinema e Orari\n    let cinemasText = \"\";\n    if (movie.cinemas && Array.isArray(movie.cinemas)) {\n        movie.cinemas.forEach(cinema => {\n            const times = Array.isArray(cinema.times) ? cinema.times.join(\", \") : cinema.times;\n            cinemasText += `\\n📍 **${cinema.name}:** ${times}`;\n        });\n    }\n    \n    // Assemblaggio:\n    // ABBIAMO RIMOSSO \"###\" -> Altrimenti Discord fa tutta la riga in grassetto.\n    // Ora: Emoji + Titolo in grassetto + Genere normale\n    discordMessage += `🎞️ **${displayTitle}**${genreSuffix}`;\n    discordMessage += creditsLine; \n    discordMessage += cinemasText;\n    \n    discordMessage += `\\n\\n`;\n});\n\n// Pulizia finale\ndiscordMessage = discordMessage.trimEnd();\n\nreturn[{\n    json: {\n        discord_message: discordMessage\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        272
      ],
      "id": "ae46f516-8157-4a6b-9a0b-2d4c964c030f",
      "name": "Write the Discord message",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discord_message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1280,
        272
      ],
      "id": "49634563-a007-4170-9443-474648443998",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Prendiamo tutti gli elementi in input e li trasformiamo in un unico array JSON\nconst allMovies = $input.all().map(item => item.json);\n\n// Restituiamo un singolo elemento che contiene l'array convertito in formato Testo (Stringa JSON)\nreturn [{\n    json: {\n        fileContent: JSON.stringify(allMovies, null, 2)\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        128
      ],
      "id": "97a11afa-2615-43af-bb86-d7d97d07d2ac",
      "name": "Merge in single JSON Array"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ttiaMa",
          "mode": "list",
          "cachedResultName": "ttiaMa"
        },
        "repository": {
          "__rl": true,
          "value": "airing-in-bari",
          "mode": "list",
          "cachedResultName": "airing-in-bari"
        },
        "filePath": "=data/{{ $now.setZone('Europe/Rome').toFormat('yyyy/MM/yyyy-MM-dd') }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1488,
        128
      ],
      "id": "af6b4681-ed1e-44ff-90d1-7ceec02ba961",
      "name": "Get todays JSON",
      "webhookId": "065737b9-4d8b-4d13-837b-06860fe97e28",
      "credentials": {
        "githubApi": {
          "id": "6FZx2p3Ggmf0wCIZ",
          "name": "GitHub account ttiaMa"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ttiaMa",
          "mode": "list",
          "cachedResultName": "ttiaMa"
        },
        "repository": {
          "__rl": true,
          "value": "airing-in-bari",
          "mode": "list",
          "cachedResultName": "airing-in-bari"
        },
        "filePath": "=data/{{ $now.setZone('Europe/Rome').toFormat('yyyy/MM/yyyy-MM-dd') }}.json",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "=update - {{ $now.setZone('Europe/Rome').toFormat('dd/MM/yyyy HH:mm') }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1712,
        48
      ],
      "id": "9dea6e35-32d7-4de3-933f-188844480009",
      "name": "Update JSON",
      "webhookId": "a363708d-db51-49ea-b412-64752f1e9500",
      "credentials": {
        "githubApi": {
          "id": "6FZx2p3Ggmf0wCIZ",
          "name": "GitHub account ttiaMa"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ttiaMa",
          "mode": "list",
          "cachedResultName": "ttiaMa"
        },
        "repository": {
          "__rl": true,
          "value": "airing-in-bari",
          "mode": "list",
          "cachedResultName": "airing-in-bari"
        },
        "filePath": "=data/{{ $now.setZone('Europe/Rome').toFormat('yyyy/MM/yyyy-MM-dd') }}.json",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "=new file - {{ $now.setZone('Europe/Rome').toFormat('dd/MM/yyyy HH:mm') }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1712,
        208
      ],
      "id": "36641f50-4c83-4217-b700-6839372ec61b",
      "name": "Create JSON",
      "webhookId": "6693b167-7342-4f82-a39d-001bd2088b70",
      "credentials": {
        "githubApi": {
          "id": "6FZx2p3Ggmf0wCIZ",
          "name": "GitHub account ttiaMa"
        }
      }
    },
    {
      "parameters": {
        "content": "this block requires entering TMDB API key.",
        "height": 224,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -160
      ],
      "typeVersion": 1,
      "id": "9c8127d3-c1f4-46eb-a3f2-3c5cfa26da25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Calcola la data odierna nel formato dd/MM (fuso orario italiano)\nconst formattedDate = new Date().toLocaleDateString('it-IT', { \n    timeZone: 'Europe/Rome', \n    day: '2-digit', \n    month: '2-digit' \n});\n\n// 1. Initialize the HTML header\nlet htmlContent = `\n<!DOCTYPE html>\n<html lang=\"it\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>I Film in Programmazione a Bari - ${formattedDate}</title>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f4f4f7;\">\n  <div style=\"max-width: 650px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.05);\">\n    \n    <h2 style=\"text-align: center; color: #2c3e50; margin-top: 0; margin-bottom: 5px; letter-spacing: 1px;\">\n      🎬 I Film in Programmazione a Bari - ${formattedDate}\n    </h2>\n    \n    <p style=\"text-align: center; color: #7f8c8d; font-size: 13px; margin-top: 0; margin-bottom: 30px; padding-bottom: 15px; border-bottom: 2px solid #e74c3c;\">\n      <i>* Gli orari vengono aggiornati alle 8:00 e alle 12:00</i>\n    </p>\n`;\n\n// 2. Loop through all items coming from the previous node\nfor (const item of $input.all()) {\n    const movie = item.json;\n    \n    // Format Cinemas list with custom links\n    let cinemasHtml = \"\";\n    if (movie.cinemas && Array.isArray(movie.cinemas)) {\n        movie.cinemas.forEach(cinema => {\n            const timesString = Array.isArray(cinema.times) ? cinema.times.join(\", \") : cinema.times;\n            \n            // --- Logica per link personalizzati dei Cinema ---\n            let cinemaUrl = \"\";\n            const cinemaName = cinema.name ? cinema.name.trim() : \"\";\n            \n            if (cinemaName === \"The Space Casamassima\") {\n                cinemaUrl = \"https://www.thespacecinema.it/cinema/casamassima/al-cinema\";\n            } else if (cinemaName === \"Splendor\") {\n                cinemaUrl = \"https://www.cinemasplendor.eu/\";\n            } else if (cinemaName === \"Abc\") {\n                cinemaUrl = \"https://www.facebook.com/Cinemabcbari/\";\n            } else if (cinemaName === \"Uci Cinemas Showville\") {\n                cinemaUrl = \"https://ucicinemas.it/cinema/uci-cinemas-showville-bari\";\n            } else if (cinemaName === \"Il Piccolo\") {\n                cinemaUrl = \"https://www.cinemapiccolo.it/\";\n            } else if (cinemaName === \"Galleria\") {\n                cinemaUrl = \"https://www.multicinemagalleria.it/programmazione/\";\n            }\n            \n            // Creiamo il nome del cinema (cliccabile o meno in base alla presenza dell'URL)\n            const cinemaDisplayName = cinemaUrl \n                ? `<a href=\"${cinemaUrl}\" target=\"_blank\" style=\"color: #2980b9; text-decoration: none;\">${cinemaName}</a>`\n                : cinemaName;\n            // ------------------------------------------------\n\n            cinemasHtml += `<span style=\"font-size: 13px; color: #444444; display: block; margin-bottom: 2px;\">• <strong>${cinemaDisplayName}:</strong> ${timesString}</span>`;\n        });\n    }\n\n    // Determina il titolo da cercare: usa original_title se presente, altrimenti usa title come paracadute.\n    const searchTitle = movie.original_title ? movie.original_title : movie.title;\n    \n    // Generate Letterboxd URL \n    const letterboxdUrl = `https://letterboxd.com/search/films/${encodeURIComponent(searchTitle)}/`;\n    \n    // Generate IMDb URL\n    const imdbUrl = `https://www.imdb.com/find/?q=${encodeURIComponent(searchTitle)}`;\n\n    // Handle Genres (check if array or string)\n    const genresText = Array.isArray(movie.genres) ? movie.genres.join(\", \") : (movie.genres || '');\n\n    // Append the movie block to the HTML string\n    htmlContent += `\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 25px;\">\n      <tr>\n        <td width=\"140\" valign=\"top\" style=\"padding-right: 20px;\">\n          <img src=\"${movie.poster_url}\" alt=\"${movie.title}\" width=\"140\" style=\"border-radius: 6px; display: block; width: 140px; max-width: 140px; box-shadow: 0 2px 5px rgba(0,0,0,0.15);\">\n        </td>\n        <td valign=\"top\">\n          <h3 style=\"margin: 0 0 10px 0; color: #d35400; font-size: 18px;\">\n            ${movie.title.toUpperCase()}\n            \n            <!-- Icona Letterboxd accanto al titolo -->\n            <a href=\"${letterboxdUrl}\" target=\"_blank\" title=\"Cerca su Letterboxd\" style=\"text-decoration: none; margin-left: 6px; display: inline-block;\">\n              <img src=\"https://letterboxd.com/apple-touch-icon.png\" width=\"18\" height=\"18\" alt=\"Letterboxd\" style=\"vertical-align: text-bottom; border-radius: 3px; border: 1px solid #e0e0e0;\">\n            </a>\n            \n            <!-- Icona IMDb accanto a Letterboxd -->\n            <a href=\"${imdbUrl}\" target=\"_blank\" title=\"Cerca su IMDb\" style=\"text-decoration: none; margin-left: 6px; display: inline-block;\">\n              <img src=\"https://m.media-amazon.com/images/G/01/imdb/images-ANDW73HA/favicon_desktop_32x32._CB1582158068_.png\" width=\"18\" height=\"18\" alt=\"IMDb\" style=\"vertical-align: text-bottom; border-radius: 3px; border: 1px solid #e0e0e0;\">\n            </a>\n          </h3>\n          \n          <p style=\"margin: 0 0 10px 0; font-size: 14px; color: #555555; line-height: 1.5; font-style: italic;\">\n            \"${movie.details}\"\n          </p>\n\n          <p style=\"margin: 0 0 4px 0; font-size: 13px; color: #333333;\">\n            <strong>Regia:</strong> ${movie.director || 'N/D'}\n          </p>\n          <p style=\"margin: 0 0 4px 0; font-size: 13px; color: #333333;\">\n            <strong>Genere:</strong> ${genresText}\n          </p>\n\n          <p style=\"margin: 0 0 12px 0; font-size: 13px; color: #333333;\">\n            <strong>Cast:</strong> ${movie.cast}\n          </p>\n          \n          <div style=\"background-color: #f8f9fa; padding: 12px; border-radius: 6px; border-left: 3px solid #3498db;\">\n            <strong style=\"font-size: 13px; color: #2c3e50; display: block; margin-bottom: 4px;\">📍 Sale e Orari:</strong>\n            ${cinemasHtml}\n          </div>\n        </td>\n      </tr>\n    </table>\n    <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin-bottom: 25px;\">\n    `;\n}\n\n// 3. Close the HTML tags\nhtmlContent += `\n    <!-- Inizio Footer -->\n    <div style=\"margin-top: 40px; text-align: center; font-size: 12px; color: #95a5a6; line-height: 1.6;\">\n      \n      <p style=\"margin: 0 0 12px 0;\">\n        <!-- posso mettere testo qui -->\n      </p>\n      \n      <p style=\"margin: 0 0 15px 0;\">\n        <!-- posso mettere testo qui -->\n        <a href=\"https://github.com/ttiaMa/airing-in-bari\" target=\"_blank\" style=\"display: inline-block; background-color: #24292e; color: #ffffff; text-decoration: none; padding: 8px 16px; border-radius: 6px; font-size: 13px; font-weight: 600; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n          <svg height=\"16\" viewBox=\"0 0 16 16\" width=\"16\" style=\"fill: #ffffff; vertical-align: text-bottom; margin-right: 6px;\"><path d=\"M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z\"></path></svg>\n          GitHub ⭐\n        </a>\n      </p>\n      \n      <p style=\"margin: 0; font-family: monospace; color: #bdc3c7;\">\n        v1.2\n      </p>\n      \n    </div>\n    <!-- Fine Footer -->\n  </div>\n</body>\n</html>\n`;\n\n// 4. Return ONE single item containing the final HTML\nreturn [{\n    json: {\n        finalHtml: htmlContent\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -32
      ],
      "id": "ddc286ae-23fb-4fd2-a601-7cd3d1e9935e",
      "name": "Compile the HTML Mail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdc53907-fde2-46c9-a3e1-ea401f12d355",
              "leftValue": "={{ $now.toFormat('cccc') }}",
              "rightValue": "Monday",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ab47cb10-c6dd-4065-831d-55231c37f2cf",
              "leftValue": "={{ $now.hour }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        48
      ],
      "id": "05ae9847-29f5-43fa-a568-6a755dad7b61",
      "name": "MondayMorning?"
    }
  ],
  "pinData": {
    "Merge": [
      {
        "json": {
          "title": "LO STRANIERO",
          "ai_reason": "A fundamental classic of Italian and world cinema: Luchino Visconti adapts Albert Camus’ existentialist masterpiece, starring the legendary Marcello Mastroianni.",
          "cast": "Benjamin Voisin, Rebecca Marder, Pierre Lottin, Denis Lavant",
          "details": "Ozon indovina il giusto equilibrio tra la fedeltà al testo di Camus e la necessità di personalizzarlo. Drammatico, Francia 2025. Durata 120 Minuti.",
          "cinemas": [
            {
              "name": "Splendor",
              "times": [
                "16:30",
                "18:45",
                "21:00"
              ]
            }
          ],
          "tmdb_id": 31332,
          "tmdb_title": "Lo straniero",
          "original_title": "Lo straniero",
          "overview": "Dal romanzo (1942) di Albert Camus: nel 1935 ad Algeri l'impiegato Mersault uccide un arabo, accanendosi a revolverate sul cadavere. Condannato a morte, non si difende durante il processo, estraneo al proprio caso.",
          "release_date": "1967-10-14",
          "vote_average": 6.764,
          "poster_url": "https://image.tmdb.org/t/p/w500/j1IyFWFgfvLno4SnQudoQdLikY2.jpg",
          "genres": "Dramma",
          "director": "Luchino Visconti"
        },
        "binary": {},
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 12,
            "input": 1
          }
        ]
      },
      {
        "json": {
          "title": "THE DRAMA - UN SEGRETO È PER SEMPRE",
          "ai_reason": "Kristoffer Borgli, the mind behind 'Dream Scenario', returns with an A24-produced psychological deconstruction of relationships featuring a high-prestige cast.",
          "cast": "Robert Pattinson, Zendaya, Alana Haim, Mamoudou Athie",
          "details": "Una commedia surreale che rompe le convenzioni sociali e parla a ognuno di noi. Con un cast di superstar. Commedia, USA 2026. Durata 106 Minuti.",
          "cinemas": [
            {
              "name": "The Space Casamassima",
              "times": [
                "14:10",
                "17:55",
                "18:35",
                "21:30"
              ]
            },
            {
              "name": "Uci Cinemas Showville",
              "times": [
                "13:30",
                "16:40",
                "18:45",
                "22:00"
              ]
            }
          ],
          "tmdb_id": 1325734,
          "tmdb_title": "The Drama - Un segreto è per sempre",
          "original_title": "The Drama",
          "overview": "Una coppia, nei giorni che precedono le nozze, attraversa una profonda crisi scaturita da una serie di rivelazioni inaspettate, che smentiscono quello che uno dei due futuri coniugi pensava di sapere dell'altro.",
          "release_date": "2026-03-26",
          "vote_average": 6.973,
          "poster_url": "https://image.tmdb.org/t/p/w500/gWZCkzgSAv6pxdLlhTQNUiFTlAa.jpg",
          "genres": "Romance, Commedia, Dramma",
          "director": "Kristoffer Borgli"
        },
        "binary": {},
        "pairedItem": [
          {
            "item": 1
          },
          {
            "item": 0,
            "input": 1
          }
        ]
      },
      {
        "json": {
          "title": "L'ULTIMA MISSIONE - PROJECT HAIL MARY",
          "ai_reason": "A significant cinematic event in high-concept sci-fi, pairing visionary directors Phil Lord and Christopher Miller with the dramatic weight of Ryan Gosling and Sandra Hüller.",
          "cast": "Ryan Gosling, Milana Vayntrub, Sandra Hüller, Ken Leung",
          "details": "Un'opera sci-fi sulla speranza. Che lascia spazio ai toni da favola. Fantascienza, USA 2026. Durata 156 Minuti.",
          "cinemas": [
            {
              "name": "The Space Casamassima",
              "times": [
                "14:30",
                "21:15"
              ]
            },
            {
              "name": "Uci Cinemas Showville",
              "times": [
                "13:20",
                "21:15"
              ]
            }
          ],
          "tmdb_id": 687163,
          "tmdb_title": "L'ultima missione: Project Hail Mary",
          "original_title": "Project Hail Mary",
          "overview": "L’insegnante di scienze Ryland Grace (Ryan Gosling) si sveglia su un’astronave lontano da casa anni luce e senza alcun ricordo di chi sia o di come sia arrivato lì. Con il riaffiorare della sua memoria, torna alla luce lo scopo della sua missione: risolvere l’enigma della misteriosa sostanza che sta causando il collasso del Sole. Dovrà fare affidamento sia sulle sue conoscenze scientifiche che sulle sue capacità di pensare fuori dagli schemi per salvare dall’estinzione la vita sulla Terra… ma un'inaspettata amicizia gli farà capire che non è solo in questa impresa.",
          "release_date": "2026-03-15",
          "vote_average": 8.189,
          "poster_url": "https://image.tmdb.org/t/p/w500/gPC1X3mwqwX50Ye3qwwPt7iW3Ma.jpg",
          "genres": "Fantascienza, Avventura",
          "director": "Phil Lord, Christopher Miller"
        },
        "binary": {},
        "pairedItem": [
          {
            "item": 2
          },
          {
            "item": 3,
            "input": 1
          }
        ]
      },
      {
        "json": {
          "title": "MIO FRATELLO È UN VICHINGO - THE LAST VIKING",
          "ai_reason": "Anders Thomas Jensen is a master of dark, absurdist Danish cinema; his collaboration with Mads Mikkelsen guarantees a sophisticated, cult-tier exploration of the human psyche.",
          "cast": "Mads Mikkelsen, Nikolaj Lie Kaas, Sofie Gråbøl, Søren Malling",
          "details": "Jensen prosegue a raccontare il dramma con feroce umorismo, incrementando qualità e complessità della narrazione. Commedia, Drammatico - Danimarca, Svezia 2025. Durata 116 Minuti.",
          "cinemas": [
            {
              "name": "Abc",
              "times": [
                "20:30"
              ]
            }
          ],
          "tmdb_id": 1295400,
          "tmdb_title": "Mio fratello è un vichingo",
          "original_title": "Den sidste viking",
          "overview": "Anker viene rilasciato dal carcere dopo una condanna a quindici anni per rapina. A seppellire il bottino era stato Manfred, suo fratello. Solo lui sa dove si trova. Purtroppo Manfred ha sviluppato un disturbo mentale che gli ha fatto dimenticare tutto. I fratelli intraprendono un inatteso viaggio alla scoperta del denaro – e di sé stessi. Den sidste viking è una storia divertente, affascinante e provocatoria sull’identità.",
          "release_date": "2025-10-09",
          "vote_average": 7.223,
          "poster_url": "https://image.tmdb.org/t/p/w500/7U6sjWTdcpRbS6rfCyoffsN6igY.jpg",
          "genres": "Commedia, Crime, Dramma",
          "director": "Anders Thomas Jensen"
        },
        "binary": {},
        "pairedItem": [
          {
            "item": 3
          },
          {
            "item": 11,
            "input": 1
          }
        ]
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request to TMDB - Bari",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request to TMDB - Casamassima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Json": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with TMDB": {
      "main": [
        [
          {
            "node": "Minimize JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Minimize JSON": {
      "main": [
        [
          {
            "node": "AI Filtering for Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Filtering for Suggestions",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Filtering for Suggestions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Filtering for Suggestions": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Write the Discord message",
            "type": "main",
            "index": 0
          },
          {
            "node": "MondayMorning?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "HTTP Request to TMDB - Bari": {
      "main": [
        [
          {
            "node": "Clean Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to TMDB - Casamassima": {
      "main": [
        [
          {
            "node": "Clean Json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Json1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Enrich with TMDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write the Discord message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge in single JSON Array": {
      "main": [
        [
          {
            "node": "Get todays JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get todays JSON": {
      "main": [
        [
          {
            "node": "Update JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile the HTML Mail": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MondayMorning?": {
      "main": [
        [
          {
            "node": "Compile the HTML Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge in single JSON Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "h3U7GWjTJ8nYrFWa",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5af5f69c-45ec-431a-bfe0-47a836803e61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5a23cd17208a5a9ae9e369bb8a562ddadb385db4102697c22ade3e9c9eae57f"
  },
  "id": "f4BG1nyln7ksdSWN5iNng",
  "tags": []
}
